@page "/menubar"

<PageTitle>Menubar</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card" data-testid="bradix-menubar-demo">
        <BradixMenubar Value="@_currentMenu" ValueChanged="HandleCurrentMenuChanged">
                <BradixMenubarMenu Value="file">
                    <BradixMenubarTrigger>File</BradixMenubarTrigger>
                    <BradixMenubarPortal>
                        <BradixMenubarContent Class="card stack" SideOffset="6">
                            <BradixMenubarItem TextValue="New file" OnSelect='@(() => SetSelection("New file"))'>New file</BradixMenubarItem>
                            <BradixMenubarItem TextValue="Open" OnSelect='@(() => SetSelection("Open"))'>Open</BradixMenubarItem>
                            <BradixMenubarSub>
                                <BradixMenubarSubTrigger TextValue="Share">Share</BradixMenubarSubTrigger>
                                <BradixMenubarPortal>
                                    <BradixMenubarSubContent Class="card stack" SideOffset="6">
                                        <BradixMenubarItem TextValue="Copy link" OnSelect='@(() => SetSelection("Copy link"))'>Copy link</BradixMenubarItem>
                                        <BradixMenubarItem TextValue="Email" OnSelect='@(() => SetSelection("Email"))'>Email</BradixMenubarItem>
                                    </BradixMenubarSubContent>
                                </BradixMenubarPortal>
                            </BradixMenubarSub>
                        </BradixMenubarContent>
                    </BradixMenubarPortal>
                </BradixMenubarMenu>

                <BradixMenubarMenu Value="edit">
                    <BradixMenubarTrigger>Edit</BradixMenubarTrigger>
                    <BradixMenubarPortal>
                        <BradixMenubarContent Class="card stack" SideOffset="6">
                            <BradixMenubarCheckboxItem Checked="@_lineNumbers"
                                                       CheckedChanged="HandleLineNumbersChanged"
                                                       CloseOnSelect="false">
                                <span>Show line numbers</span>
                                <BradixMenubarItemIndicator>
                                    <span>[x]</span>
                                </BradixMenubarItemIndicator>
                            </BradixMenubarCheckboxItem>
                            <BradixMenubarCheckboxItem Checked="@_wordWrap"
                                                       CheckedChanged="HandleWordWrapChanged"
                                                       CloseOnSelect="false">
                                <span>Word wrap</span>
                                <BradixMenubarItemIndicator>
                                    <span>[x]</span>
                                </BradixMenubarItemIndicator>
                            </BradixMenubarCheckboxItem>
                        </BradixMenubarContent>
                    </BradixMenubarPortal>
                </BradixMenubarMenu>

                <BradixMenubarMenu Value="view">
                    <BradixMenubarTrigger>View</BradixMenubarTrigger>
                    <BradixMenubarPortal>
                        <BradixMenubarContent Class="card stack" SideOffset="6">
                            <BradixMenubarLabel>Sort by</BradixMenubarLabel>
                            <BradixMenubarRadioGroup Value="@_sort" ValueChanged="HandleSortChanged">
                                <BradixMenubarRadioItem Value="name" CloseOnSelect="false">
                                    <span>Name</span>
                                    <BradixMenubarItemIndicator>
                                        <span>(o)</span>
                                    </BradixMenubarItemIndicator>
                                </BradixMenubarRadioItem>
                                <BradixMenubarRadioItem Value="date" CloseOnSelect="false">
                                    <span>Date modified</span>
                                    <BradixMenubarItemIndicator>
                                        <span>(o)</span>
                                    </BradixMenubarItemIndicator>
                                </BradixMenubarRadioItem>
                            </BradixMenubarRadioGroup>
                            <BradixMenubarSeparator />
                            <BradixMenubarItem TextValue="Zoom in" OnSelect='@(() => SetSelection("Zoom in"))'>Zoom in</BradixMenubarItem>
                        </BradixMenubarContent>
                    </BradixMenubarPortal>
                </BradixMenubarMenu>
            </BradixMenubar>
    </section>

    <section class="card website-demo-card" data-testid="bradix-menubar-rtl-demo">
        <BradixMenubar Dir="rtl" Class="stack">
            <BradixMenubarMenu Value="file-rtl">
                <BradixMenubarTrigger>ملف</BradixMenubarTrigger>
                <BradixMenubarPortal>
                    <BradixMenubarContent Class="card stack" SideOffset="6">
                        <BradixMenubarItem TextValue="علامة تبويب جديدة">علامة تبويب جديدة</BradixMenubarItem>
                    </BradixMenubarContent>
                </BradixMenubarPortal>
            </BradixMenubarMenu>

            <BradixMenubarMenu Value="view-rtl">
                <BradixMenubarTrigger>عرض</BradixMenubarTrigger>
                <BradixMenubarPortal>
                    <BradixMenubarContent Class="card stack" SideOffset="6">
                        <BradixMenubarItem TextValue="إظهار الشريط الجانبي">إظهار الشريط الجانبي</BradixMenubarItem>
                    </BradixMenubarContent>
                </BradixMenubarPortal>
            </BradixMenubarMenu>
        </BradixMenubar>
    </section>
</section>

@code {
    private string? _currentMenu;
    private string? _selection;
    private BradixCheckboxCheckedState _lineNumbers = BradixCheckboxCheckedState.Checked;
    private BradixCheckboxCheckedState _wordWrap = BradixCheckboxCheckedState.Unchecked;
    private string _sort = "name";

    private Task HandleCurrentMenuChanged(string? value)
    {
        _currentMenu = value;
        return Task.CompletedTask;
    }

    private Task SetSelection(string value)
    {
        _selection = value;
        return Task.CompletedTask;
    }

    private Task HandleLineNumbersChanged(BradixCheckboxCheckedState state)
    {
        _lineNumbers = state;
        return Task.CompletedTask;
    }

    private Task HandleWordWrapChanged(BradixCheckboxCheckedState state)
    {
        _wordWrap = state;
        return Task.CompletedTask;
    }

    private Task HandleSortChanged(string? value)
    {
        _sort = value ?? _sort;
        return Task.CompletedTask;
    }
}
